*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search{
  display: block;
  justify-content: center;
  background-color: rgb(128, 128, 128);
  text-align: center;
  padding: 50px;
  height: 25vh;
  flex-direction: column;
}
.search input[type=text]{
  width: 80%;
  height: 5vh;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 20px;
}
.search input[type=submit] {
  width: 15%;
  height: 5vh;
  margin-left: 5px;
  background-color: rgb(43, 36, 36);
  color: white;
  border-radius: 10px;
  font-size: initial;
  font-weight: bold;
}

.search h1{
  color: white;
  margin-bottom: 30px;
}
.cidade{
  display: flex;
  height: 75vh;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.cidade p {
  width: 30%;
  height: 5%;
  border-radius: 10px;
  margin: 5px;
  align-items: flex-end;
  border: 1px solid black;
  padding-top: 10px;
  font-weight: 900;
}
@media screen and (max-width: 500px) {
  .search{
    display: flex;
    height: 30%;
    width: 100%;
    
  }
  .search input[type=text] {
    font-size: 20px;
  }
  .search input[type=submit] {
    width: 25vw;
    margin-top: 10px;
  }
  .cidade{
  display: flex;
  height: 50vh;
  text-align: center;
  align-items:center;
  flex-direction: column;
  margin: 10px;
  }
  .cidade p {
   margin-top: 10px;
   width: 60%;
   height: 25%;
   border-radius: 10px;
   align-items: flex-end;
   border: 1px solid black;
   padding-top: 5px;
   font-weight: 900;
 }
}